
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

body, * {
  font-family: 'Public Sans', Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
nav {
  margin: 1rem;
}
